#bg{
    background-image: url(https://wallpapercave.com/wp/wp10867442.jpg);
background-repeat: no-repeat;
background-size: auto;
height: 100%;
width: 100%;
background-position: center;
margin-top: 50px;
margin-bottom: 50px;


}
